In [2]:
from sklearn.model_selection import train_test_split

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("Mumbai1.csv")

In [5]:
print(df.head())

   Unnamed: 0    Price  Area  Location  No. of Bedrooms  New/Resale  \
0           0  4850000   720  Kharghar                1           0
1           1  4500000   600  Kharghar                1           0
2           2  6700000   650  Kharghar                1           0
3           3  4500000   650  Kharghar                1           0
4           4  5000000   665  Kharghar                1           0

   Gymnasium  Lift Available  Car Parking  Maintenance Staff  24x7 Security  \
0          0               1            1                  1              1
1          1               1            1                  1              1
2          1               1            1                  1              1
3          0               1            1                  1              1
4          0               1            1                  1              1

   Children's Play Area  Clubhouse  Intercom  Landscaped Gardens  \
0                     0          0         0                   0
1                     0          1         0                   0
2                     1          1         1                   0
3                     0          0         1                   1
4                     0          0         1                   1

   Indoor Games  Gas Connection  Jogging Track  Swimming Pool
0             0               0              0              0
1             0               0              1              1
2             0               0              1              1
3             0               0              0              0
4             0               0              0              0

In [8]:
df.drop(df.columns[0], axis=1, inplace=True)

In [7]:
print(df.head())

     Price  Area  Location  No. of Bedrooms  New/Resale  Gymnasium  \
0  4850000   720  Kharghar                1           0          0
1  4500000   600  Kharghar                1           0          1
2  6700000   650  Kharghar                1           0          1
3  4500000   650  Kharghar                1           0          0
4  5000000   665  Kharghar                1           0          0

   Lift Available  Car Parking  Maintenance Staff  24x7 Security  \
0               1            1                  1              1
1               1            1                  1              1
2               1            1                  1              1
3               1            1                  1              1
4               1            1                  1              1

   Children's Play Area  Clubhouse  Intercom  Landscaped Gardens  \
0                     0          0         0                   0
1                     0          1         0                   0
2                     1          1         1                   0
3                     0          0         1                   1
4                     0          0         1                   1

   Indoor Games  Gas Connection  Jogging Track  Swimming Pool
0             0               0              0              0
1             0               0              1              1
2             0               0              1              1
3             0               0              0              0
4             0               0              0              0

In [9]:
# Apply One-Hot Encoding using pd.get_dummies() on the 'Place' column
df_encoded = pd.get_dummies(df, columns=['Location'], drop_first=True)
df_encoded = df_encoded.astype(int)

In [11]:
print(df_encoded)

      Area  No. of Bedrooms  New/Resale  Gymnasium  Lift Available  \
0      720                1           0          0               1
1      600                1           0          1               1
2      650                1           0          1               1
3      650                1           0          0               1
4      665                1           0          0               1
...    ...              ...         ...        ...             ...
6342   700                1           1          0               0
6343   900                2           0          0               0
6344   900                2           0          0               1
6345  1380                3           0          0               0
6346   700                1           1          1               1

      Car Parking  Maintenance Staff  24x7 Security  Children's Play Area  \
0               1                  1              1                     0
1               1                  1              1                     0
2               1                  1              1                     1
3               1                  1              1                     0
4               1                  1              1                     0
...           ...                ...            ...                   ...
6342            0                  0              0                     0
6343            0                  0              0                     0
6344            0                  0              0                     0
6345            0                  0              0                     0
6346            1                  0              1                     1

      Clubhouse  ...  Location_royal palms goregaon east  Location_sec 50 new  \
0             0  ...                                   0                    0
1             1  ...                                   0                    0
2             1  ...                                   0                    0
3             0  ...                                   0                    0
4             0  ...                                   0                    0
...         ...  ...                                 ...                  ...
6342          0  ...                                   0                    0
6343          0  ...                                   0                    0
6344          0  ...                                   0                    0
6345          0  ...                                   0                    0
6346          1  ...                                   0                    0

      Location_taloja panchanand  Location_thakur village kandivali east  \
0                              0                                       0
1                              0                                       0
2                              0                                       0
3                              0                                       0
4                              0                                       0
...                          ...                                     ...
6342                           0                                       0
6343                           0                                       0
6344                           0                                       0
6345                           0                                       0
6346                           0                                       0

      Location_ulhasnagar 4  Location_vasant vihar thane west  \
0                         0                                 0
1                         0                                 0
2                         0                                 0
3                         0                                 0
4                         0                                 0
...                     ...                               ...
6342                      0                                 0
6343                      0                                 0
6344                      0                                 0
6345                      0                                 0
6346                      0                                 0

      Location_vile parle west  Location_vrindavan society  \
0                            0                           0
1                            0                           0
2                            0                           0
3                            0                           0
4                            0                           0
...                        ...                         ...
6342                         0                           0
6343                         0                           0
6344                         0                           0
6345                         0                           0
6346                         0                           0

      Location_worli sea Fase  Location_worli sea face
0                           0                         0
1                           0                         0
2                           0                         0
3                           0                         0
4                           0                         0
...                       ...                       ...
6342                        0                         0
6343                        0                         0
6344                        0                         0
6345                        0                         0
6346                        0                         0

[6347 rows x 428 columns]

In [ ]:
# Assuming 'Price' is the target variable and the rest are features
X = df_encoded.drop('Price', axis=1)  # Features (independent variables)
y = df_encoded['Price']  # Target variable (dependent)